<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Mohammad Wali - Software Engineer</title>

    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />

    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
    <meta
      name="description"
      content="Senior Software Engineer working for Oracle with more than 8 years of industry experience."
    />
    <meta
      name="keywords"
      content="Frontend Developer, Nodejs, ReactJs, Oracle, Netsuite"
    />

    <link rel="canonical" href="https://wali.to" />

    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Mohammad Wali - Software Engineer" />
    <meta
      property="og:description"
      content="Senior Software Engineer working for Oracle with more than 8 years of industry experience."
    />
    <meta property="og:url" content="https://wali.to/" />
    <meta property="og:site_name" content="Mohammad Wali - Software Engineer" />
    <meta
      property="og:image"
      content="http://wali.to/assets/img/wali-thumb.png"
    />

    <meta
      name="google-site-verification"
      content="xoUcJzu_JT9riOBrGuVTQBHsrmM2MpmCQag35Lys1Y8"
    />

    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <link rel="dns-prefetch" href="//www.googletagmanager.com" />
    <link rel="dns-prefetch" href="//fonts.gstatic.com" />

    <link
      rel="stylesheet"
      href="//fonts.googleapis.com/css2?family=Saira:wght@400;600&display=swap"
    />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-QNSS8YYNLL"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QNSS8YYNLL");
    </script>
  </body>
</html>
